<footer class="footer">
  <div class="footer-content">
    <div class="contact-left">
      <p>Contacto: contacto&#64;csproevents.com</p>
      <p>Teléfono: +52 55 3734 4409</p>
    </div>
    <div class="social-right">
      <a href="https://www.facebook.com/CSProEvents/" target="_blank">
        <i class="fa-brands fa-facebook-f"></i> Facebook
      </a>
      <a href="https://www.instagram.com/csproevents/#" target="_blank">
        <i class="fa-brands fa-instagram"></i> Instagram
      </a>
    </div>
  </div>
</footer>
