<footer class="footer">
  <div class="footer-content">

    <div class="footer-column contact">
      <p><strong>Contacto:</strong></p>
      <p>contacto&#64;csproevents.com</p>
      <p>+52 55 3734 4409</p>
    </div>

    <div class="footer-column slogan-social">
      <p class="slogan">TRANSFORMA TU PRÓXIMO EVENTO CON NOSOTROS</p>
      <div class="social-media">
        <a href="https://www.facebook.com/CSProEvents/" target="_blank">
          <i class="fa-brands fa-facebook-f"></i>
          <span class="social-text">Facebook</span>
        </a>
        <a href="https://www.instagram.com/csproevents/#" target="_blank">
          <i class="fa-brands fa-instagram"></i>
          <span class="social-text">Instagram</span>
        </a>
      </div>
    </div>

    <div class="footer-column rights">
      <p>2025 © CS Pro Events</p>
      <p>Todos los derechos reservados</p>
      <a href="#">Aviso de Privacidad</a>
    </div>

  </div>
</footer>
