.footer {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;

  .contact-info, .social-media {
    margin: 0.5rem 0;
  }

  a {
    color: #000;
    text-decoration: none;
    margin: 0 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer .social-media a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; // espacio entre el ícono y el texto
  text-decoration: none;
  color: #000; // color de texto e ícono

  &:hover {
    color: #555; // color en hover
  }
}

.footer .social-media i {
  font-size: 1.2rem; // tamaño de los iconos
}
