.services {
  padding: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 3rem; // Aumenta el espacio entre el título y los servicios
    font-size: 2.5rem;
  }

  .service-list {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Espacio vertical entre servicios */

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: left;
    margin: 0 auto;

    @media (min-width: 768px) {
      flex-direction: row; /* Imagen a la izquierda y texto a la derecha por defecto */
      align-items: flex-start;
    }

    &.reverse {
      @media (min-width: 768px) {
        flex-direction: row-reverse; /* Invierte la posición en pantallas grandes */
      }
    }

    .service-image {
      flex: 1;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .service-content {
      flex: 1;
      max-width: 600px;
      margin: 0 auto;

      h3 {
        margin: 0.5rem 0;
        font-size: 2rem;  // Título más grande
        font-weight: 700;
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
        text-align: justify;
      }
    }
  }
}
