<div>
  <h1>NOSOTROS</h1>
</div>
<p> En CS Pro Events, nos especializamos en hacer de cada evento una experiencia única e inolvidable. Con años de experiencia en la industria, hemos transformado eventos corporativos y sociales, garantizando que cada detalle se ejecute a la perfección. </p>

<br>
<br>

<section class="stats-row">
  <div class="stat-box">
    <h2>{{ count1 }}</h2>
    <p>Más de una década<br />de Servicios de Calidad</p>
  </div>
  <div class="stat-box">
    <h2>{{ count2 }}</h2>
    <p>Hemos brindado<br />servicio a más de 15 empresas</p>
  </div>
  <div class="stat-box">
    <h2>{{ count3 }}</h2>
    <p>Más de 200<br />eventos masivos</p>
  </div>
</section>
