.wa-float{
  position:fixed;
  bottom:6rem;
  right:1.25rem;
  width:56px;height:56px;
  border-radius:50%;
  box-shadow:0 4px 12px rgba(0,0,0,.25);
  background:#25d366;
  display:flex;align-items:center;justify-content:center;
  transition:transform .2s;
  z-index:60;

  img{width:28px;height:28px;}

  &:hover{transform:scale(1.05);}
}
