@use '@angular/material' as mat;

html {
  scroll-behavior: smooth;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: 'Montserrat, sans-serif'
      // O si deseas brand-family, brand-family: 'Montserrat, sans-serif'
    ),
    density: 0,
  ));
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

