img {
  width: 1200px;
  height: 600px;
  display: block;
  margin-bottom: 0.5rem;

}

.title {
  color: #0b0b0b;            /* Texto blanco */
  width: 100%;           /* Ancho fijo para el cuadrado */
  height: 200px;          /* Alto fijo para hacerlo cuadrado */
  text-align: start;
  padding-right: 10%;
}
